/*********** PARTIE HEADER  */
.home header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 2%;
    width: 96%;
    height: 93px;
    border-radius: 10px;
    border: solid 3px black;
   
}
.home header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}

.nav-right li{
    margin-right: 20px;
    list-style: none;
    font-style: italic;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
    position: relative;
    cursor: pointer;
}
.nav-right li:nth-child(-n+2)::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.2s ease-in;
}
.nav-right li:nth-child(-n+2):hover::after{
    width: 100%;
    cursor: pointer;
}
.nav-right li:nth-last-child(1){
    padding: 10px;
    border-radius: 8px;
    background: #000;
    color: white;
    transition: all ease-out 0.5s;
}
.nav-right li:nth-last-child(1):hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.home header img{
    width: 100px;
    height: 90px;
    margin-left: 20px;
}
/************FIN HEADER  */